html(lang="en")
    head
        title SCOTT.dept CRUD
        meta(charset="UTF-8")
    body
        h1 부서 리스트(Read)
        div
            p
                span 부서번호 :
                strong=dept.DEPTNO
            p
                sapn 부서이름 :
                strong=dept.DNAME
            p
                span 지역 :
                strong=dept.LOC
            p
                a(href=`/deptUpdate.do?deptno=${dept.DEPTNO}`) 수정폼