html(lang="en")
    head
        title SCOTT.dept CRUD
        meta(charset="UTF-8")
        link(rel="stylesheet" href="/public/css/deptList.css")
    body
        h1 부서 리스트(Read)
        table
            thead
                tr
                    th 부서번호
                    th 부서이름
                    th 지역
                    th 상세
                tbody
                    -for(const dept of deptList)
                        tr
                        td=dept.DEPTNO
                        td=dept.DNAME
                        td=dept.LOC
                        td
                            a(href=`/deptDetail.do?deptno=${dept.DEPTNO}`) 상세