html(lang="en")
    head
        title SCOTT.dept CRUD
        meta(charset="UTF-8")
    body
        h1 부서 등록 폼
        form(name="deptInsertForm",action="/deptInsert.do",method="POST")
            div
                p
                    span 부서번호 :
                    input(value="", name="deptno")
                p
                    span 부서이름 :
                    input(value="",name="dname")
                p
                    span 지역 :
                    input(value="",name="loc")
                p
                    button(type="submit") 등록제출
